---
import Meta from '../components/site/Meta.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<Meta title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				{pubDate && <time>{pubDate}</time>}
				<h2>{title}</h2>
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	h2 {
		@apply font-sans text-4xl pt-1 pb-3
	}
	time, span {
		@apply font-sans text-sm 
	}
	hr {
		@apply mb-2
	}
</style>
