---
import Meta from "../components/site/Meta.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = await Astro.glob("./months/**/*.{md,mdx}");
const jan = posts.filter(
  (post) => post.frontmatter.pubDate.slice(0, 3) == "Jan"
);
const feb = posts.filter(
  (post) => post.frontmatter.pubDate.slice(0, 3) == "Feb"
);
const mar = posts.filter(
  (post) => post.frontmatter.pubDate.slice(0, 3) == "Mar"
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
				<!-- January -->
        <ul class="bg-slate-100">
          {
            jan.map((post) => 
            (
              <li>
                <a href={post.url}>
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        month: "short",
                        day: "2-digit",
                      }
                    )}
                  </time>
                </a>
              </li>
            ))
          }
        </ul>
				
      </section>
    </main>
    <Footer />
    <style>
      /* section {
        @apply flex flex-wrap gap-4 
      } */
      ul {
        @apply p-4 my-4 list-none flex flex-wrap rounded shadow-md
      }
      ul li {
        @apply p-2
      }
    </style>
  </body>
</html>
