---
import Meta from '../components/site/Meta.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config.ts'; 

const posts = await Astro.glob("./months/**/*.{md,mdx}");
let today = new Date().toLocaleDateString("en-us",{month: "short", day: "2-digit"}); 
const todaysDate = posts.filter((post) => (
		new Date(post.frontmatter.date).toLocaleDateString("en-us",{month: "short", day: "2-digit"}) === today
));

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
				<article>
					<time>
						{new Date(FeaturedPost.frontmatter.date).toLocaleDateString(
							"en-us",
							{
								month: "short",
								day: "2-digit",
							}
						)}
					</time>
					<h2>{FeaturedPost.frontmatter.title}</h2>
					<hr />
					{html}
				</article>
		</main>
		<Footer />
	</body>
</html>

<style>
  h2 {
    @apply font-sans text-4xl pt-1 pb-3;
  }
  time,
  span {
    @apply font-sans text-sm;
  }
  hr {
    @apply mb-2;
  }
</style>
