---
import ButtonGroup from '../components/UI/ButtonGroup.astro';
import Layout from '../layouts/Layout.astro';
const title = 'Home Page';
const items = ["Dog", "Cat", "Platypus"];
const visible = true;
---

<Layout title="Welcome to Astro.">
	<main>
		<button id="button">Click Me</button>
		<h1>{ title }</h1>
		<h1>{`Its the ${title}`}</h1>
		<ButtonGroup />
		<ul>
			{items.map((item) => (
				<li>{item}</li>
			))}
		</ul>
		{visible && <p>Show me!</p>}

	</main>
</Layout>

<script>
  function handleClick () {
    console.log("button clicked!");
  }
  document.getElementById("button").addEventListener("click", handleClick);
</script>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
