---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Vanilla JS">
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="/counter"
				title="Counter"
				body="Basic reactivity"
			/>
		</ul>
	</main>
</Layout>

<style>
	
</style>
